<ion-view view-title="Formulário CRUD"> 
  <ion-content data-content="true" data-replace="true"> 
    <div class="list component-holder" data-component="crn-from-crud" id="crn-from-crud-565605"> 
      <label class="item item-input"><input type="text" placeholder="First Name"></label> 
      <label class="item item-input"><input type="text" placeholder="Last Name"></label> 
      <label class="item item-input"><textarea placeholder="Comments"></textarea></label> 
    </div> 
  </ion-content> 
</ion-view>