<ion-view> 
  <ion-content data-content="true" data-replace="true">
     &nbsp; 
    <div class="list component-holder" data-component="crn-range" id="crn-range-991702"> 
      <div class="item range range-positive"> 
        <i class="icon ion-ios-sunny-outline"></i> 
        <input type="range" ng-model="vars.input9581" name="volume" min="0" max="100" value="33"> 
        <i class="icon ion-ios-sunny"></i> 
      </div> 
    </div> 
    <label class="item item-input component-holder" data-component="crn-input" id="crn-input-986109"><input id="textinput-id" type="text" placeholder="Placeholder text" ng-model="vars.input9581" mask=""></label> 
    <div class="component-holder ng-binding ng-scope" data-component="crn-toggle" id="crn-toggle-393095"> 
      <ul class="list toggle-group"> 
        <li class="item item-toggle">Choose B<label data-component="crn-toggle-button" class="toggle toggle-balanced"><input type="checkbox" style=""> 
            <div class="track"> 
              <div class="handle"></div> 
            </div></label></li> 
        <li class="item item-toggle active">Choose A<label data-component="crn-toggle-button" class="toggle toggle-assertive"><input type="checkbox" style=""> 
            <div class="track"> 
              <div class="handle"></div> 
            </div></label></li> 
      </ul> 
    </div> 
    <div cronapp-stars="" class="cronapp-star component-holder" ng-model="vars.input5955" data-component="crn-evaluation" id="crn-evaluation-281125"> 
      <i style="font-size:200%" class="component-holder ion ion-android-star-outline"></i> 
    </div> 
    <label class="item item-input component-holder" data-component="crn-input" id="crn-input-329614"><input id="textinput-id" type="text" placeholder="Placeholder text" ng-model="vars.input5955" mask=""></label> 
    <div class="component-holder ng-binding ng-scope" data-component="crn-checkbox" id="crn-checkbox-239149"> 
      <ul class="list checkbox-group"> 
        <li class="item item-checkbox"><label class="checkbox"><input ng-model="vars.input3589" type="checkbox" checked=""></label>Choose A</li> 
        <li class="item item-checkbox"><label class="checkbox"><input ng-model="vars.input3589" type="checkbox" checked=""></label>Choose B</li> 
        <li class="item item-checkbox"><label class="checkbox"><input ng-model="vars.input3589" type="checkbox" checked=""></label>Choose C</li> 
      </ul> 
    </div> 
    <label class="item item-input component-holder" data-component="crn-input" id="crn-input-1017198"><input id="textinput-id" type="text" placeholder="Placeholder text" ng-model="vars.input3589" mask=""></label> 
    <label class="item item-input item-select component-holder" data-component="crn-select" id="crn-select-808382"> 
      <div class="input-label">
         Seleção 
      </div> <select ng-model="vars.input615"> <option value="0">Blue</option> <option value="1">Green</option> <option value="2">Red</option> </select> </label> 
    <label class="item item-input component-holder" data-component="crn-input" id="crn-input-767894"><input id="textinput-id" type="text" placeholder="Placeholder text" ng-model="vars.input615" mask=""></label> 
    <div data="" class="item item-input-inset component-holder" data-component="crn-input-button" id="crn-input-button-175198"> 
      <label class="item-input-wrapper"><input type="text" placeholder="Placeholder Text" ng-model="vars.inputButton8187" mask=""></label> 
      <button class="button component-holder button-small button-balanced button-clear" type="submit" ng-click="" data-component="crn-button" id="crn-button-8187" xattr-size="button-small" xattr-type="button-clear" xattr-theme="button-balanced"> <span>Search</span></button> 
    </div> 
    <div class="list card component-holder" data-component="crn-card" id="crn-card-103857"> 
      <div class="item item-avatar"> 
        <img src="" data-component="crn-image" style="display:block; width: 40px; height:40px" xattr-position=""><div cronapp-stars="" class="cronapp-star component-holder" ng-model="vars.evaluation3873" data-component="crn-evaluation" id="crn-evaluation-766071"><i style="font-size:200%" class="component-holder ion ion-android-star-outline"></i></div> 
         
         
      </div> 
      <div class="item item-avatar"> 
        <img src="" data-component="crn-image" style="display:block; width: 40px; height:40px" xattr-position=""> 
        <h2>Pretty Hate Machine</h2> 
        <p>Nine Inch Nails</p> 
      </div> 
      <div class="item item-image"> 
        <a class="item item-icon-left assertive" href="#"><i class="icon ion-music-note"></i> <span>Start listening</span></a> 
      </div>
    </div> 
  </ion-content> 
</ion-view>