
<ion-view view-title="Teste 4"> 
  <ion-content data-content="true" data-replace="true"> 
    <div class="component-holder ng-binding ng-scope" data-component="crn-list" id="crn-list-1038516"> 
      <div crn-datasource=""> 
        <div class="list" ng-repeat="rowData in data" data-replace="true" data-container="true"> 
          <ion-item class="item dark">
             dasfdsafsadf dsaf dsa fdsafs 
          </ion-item> 
        </div> 
        <div class="component-holder ng-binding ng-scope" data-component="crn-list" id="crn-list-999379"> 
          <div crn-datasource=""> 
             
          </div> 
        </div> 
      </div> 
    </div> 
  </ion-content> 
</ion-view>