<ion-view view-title="Teste 4"> 
  <ion-content data-content="true" data-replace="true"> 
    <div class="component-holder ng-binding ng-scope" data-component="crn-list" id="crn-list-1038516"> 
      <div crn-datasource=""> 
        <div class="list" ng-repeat="rowData in data" data-replace="true" data-container="true"> 
          <ion-item class="item dark">
             dasfdsafsadf dsaf dsa fdsafs 
          </ion-item> 
          <ion-item class="item">
             Item 1 
          </ion-item> 
        </div> 
        <datasource name="Cliente" entity="api/cronapi/crud/app.entity.Cliente" keys="id" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete="" on-after-fill="" filter=""></datasource>
         
        <label class="item item-input component-holder" data-component="crn-input" id="crn-input-437783"><input id="textinput-id" type="text" placeholder="Placeholder text" ng-model="Cliente.active.credito" mask=""></label> 
        <div class="component-holder ng-binding ng-scope" data-component="crn-datasource" id="crn-datasource-796314"> 
        </div> 
      </div> 
    </div> 
  </ion-content> 
</ion-view>