<ion-view view-title="Empty"> 
  <ion-content data-content="true" data-replace="true" class="col-xs-12">&nbsp;</ion-content> 
  <div class="crn-slider component-holder col-xs-12" xattr-collapse="true" data-component="crn-slider" id="crn-slider-539972"> 
    <ion-slide-box class="" auto-play="true" slide-interval="1000" does-continue="true" xattr-collapse="true"> 
      <ion-slide class="active" data-replace="true"> 
        <div class="text-center" data-replace="false" style="background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_161b4c524d4%20text%20%7B%20fill%3A%23FFFFFF%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_161b4c524d4%22%3E%3Crect%20width%3D%22400%22%20height%3D%22200%22%20fill%3D%22%230D8FDB%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22133.3359375%22%20y%3D%22109%22%3EFirst%20slide.%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');width:100%;height:100%;min-height:200px; margin: 0 auto"> 
          <h1 data-component="crn-heading" class="component-holder" id="crn-heading-349544">Heading</h1> 
        </div> 
      </ion-slide> 
      <ion-slide class="" style=""> 
        <div class="text-center" data-replace="true" style="background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_161b4c71736%20text%20%7B%20fill%3A%231C2846%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_161b4c71736%22%3E%3Crect%20width%3D%22400%22%20height%3D%22200%22%20fill%3D%22%23F8591A%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22114.078125%22%20y%3D%22109%22%3ESecond%20slide.%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');width:100%;height:100%;min-height:200px; margin: 0 auto">
           2 
        </div> 
      </ion-slide> 
      <ion-slide class="" style=""> 
        <div class="text-center" data-replace="true" style="background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_161b4c7a1e5%20text%20%7B%20fill%3A%23C2F200%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_161b4c7a1e5%22%3E%3Crect%20width%3D%22400%22%20height%3D%22200%22%20fill%3D%22%23434A52%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22128.8984375%22%20y%3D%22109%22%3EThird%20slide.%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');width:100%;height:100%;min-height:200px; margin: 0 auto">
           3 
        </div> 
      </ion-slide> 
      <ion-slide class="" style=""> 
        <div class="text-center" data-replace="true"> 
          <div style="background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_161b4c71736%20text%20%7B%20fill%3A%231C2846%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_161b4c71736%22%3E%3Crect%20width%3D%22400%22%20height%3D%22200%22%20fill%3D%22%23F8591A%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22114.078125%22%20y%3D%22109%22%3ESecond%20slide.%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');width:100%;height:100%;min-height:200px; margin: 0 auto">
             Other 
          </div> 
        </div> 
      </ion-slide> 
      <ion-slide class="" style=""> 
        <div class="text-center" data-replace="true"> 
          <div style="background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22400%22%20height%3D%22200%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20200%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_161b4c80860%20text%20%7B%20fill%3A%23FFFFFF%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A20pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_161b4c80860%22%3E%3Crect%20width%3D%22400%22%20height%3D%22200%22%20fill%3D%22%233a5a97%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22126.671875%22%20y%3D%22109%22%3EOther%20slide.%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');width:100%;height:100%;min-height:200px; margin: 0 auto;">
             Other 
          </div> 
        </div> 
      </ion-slide> 
    </ion-slide-box> 
  </div> 
  <div style="height: 30px;" data-component="crn-spacer" class="component-holder col-xs-12" id="crn-spacer-875477">
     &nbsp; 
  </div> 
  <div class="component-holder ng-binding ng-scope col-xs-12" data-component="crn-dynamic-file" id="crn-dynamic-file-903728"> 
    <div class="item item-input item-stacked-label"> 
      <label class="input-label">Label</label> 
      <div class="form-group"> 
        <div dynamic-file="" ng-model="vars.imagem" max-file-size="5MB" class="dynamic-image-container" ng-required="false">
           {{"template.crud.clickToAddFile" | translate}} 
        </div> 
      </div> 
    </div> 
  </div> 
  <div data-component="crn-chart" class="component-holder col-xs-12" id="crn-chart-985274"> 
    <canvas id="chart3011" data-component="crn-chart" class="col-xs-12"></canvas>
    <img src="img/user.png" class="component-holder col-xs-12" style="display:block; width: 50px; height:50px; magin-right:auto;" xattr-position="magin-right:auto;" data-component="crn-image" id="crn-image-195835"> 
  </div> 
</ion-view>